.second{

width: 90%;
}
.main{
  display: flex;
  align-items: center;
  justify-content: center;
}
.third{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-container {
  background-color: hsl(0, 0%, 98%);
  height: max-content;
  padding-top: 14vh;
}


@media screen and (max-width:769px)
{
 
  .third{
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
  }
 
}