.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    h1 {
        font-size: 1.5rem;
        font-weight: bold;
        color: hsl(200, 15%, 8%);
        margin-left: 3.9rem;
    }

    span {
        font-size: 1rem;
        font-weight: 600;
        color: hsl(200, 15%, 8%);
        margin-right: 4rem;

        .icon {
            font-size: 1.5rem;
            color: hsl(200, 15%, 8%);
            margin-bottom: 8px;
        }
    }

    @media only screen and (max-width: 768px) {
        flex-direction: row;

        h1 {
            margin-left: 1rem;
            font-size: 1rem;
        }

        span {
            margin-right: 1rem;
            font-size: 1rem;

            .icon {
                font-size: 1.5rem;
            }
        }

        // @media only screen and (max-width: 375px) {
        //     .headerContainer {
        //         flex-direction: row;
        //         justify-content: center;
        //         height: auto;

        //         h1 {
        //             margin: 2rem 0 1rem;
        //             font-size: 1rem;
        //         }

        //         span {
        //             margin: 1rem 0;
        //         }
        //     }
        // }
    }



}