.searchContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding-top: 3rem;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
  }
}

.search {
  display: flex;
  align-items: center;
  padding: 0.8rem 1rem;
  background-color: hsl(0, 0%, 100%);
  width: 35%;
  box-shadow: 0 2px 4px rgba(105, 102, 102, 0.2);
  border-radius: 4px;
  // margin-right: 35rem;
  margin-left: 3rem;

  @media only screen and (max-width: 1280px) {
    margin-right: 25rem;
  }

  @media only screen and (max-width: 1024px) {
    margin-left: 3rem;
  }

  @media only screen and (max-width: 960px) {
    margin-right: 10.5rem;
  }

  @media only screen and (max-width: 769px) {
    width: 94%;
    margin-bottom: 1.5rem;
    margin-left: 10.5rem;
  }
}

.search .icon {
  margin-left: 1.6rem;
  padding-right: 5px;
  color: hsl(0, 0%, 52%);
  font-size: 1.2rem;
}

.search input {
  border: none;
  outline: none;
  background-color: transparent;
  margin-right: 1.5rem;
  font-size: 14px;
  color: hsl(0, 0%, 52%);
  flex: 1;

  @media only screen and (max-width: 540px) {
    margin-right: 1rem;
  }

  @media only screen and (max-width: 425px) {
    margin-right: 0.5rem;
  }
}

.search input::placeholder {
  color: hsl(0, 0%, 52%);
}

.select-container {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 200px;
  height: 50px;
  margin-right: 3rem;
}

@media screen and (max-width: 1280px) {
  .select-container {
    margin-right: 2.2rem;
  }
}

@media screen and (max-width: 1040px) {
  .select-container {
    margin-right: 4rem;

    @media screen and (max-width: 1025px) {
      margin-left: 3.2rem;
    }

    @media screen and (max-width: 913px) {
      margin-right: 2rem;
    }
  }
}

@media only screen and (max-width: 768px) {
  .select-container {
    margin-right: 30.5rem;
    margin-left: -3.2rem;
    margin-top: 1rem;
    @media screen and (max-width: 720px) {
      margin-left: -1rem;

      @media screen and (max-width: 690px) {
        margin-left: 0.5rem;

        @media screen and (max-width: 600px) {
          margin-left: 7rem;
        }
      }
    }
  }

  @media screen and (min-width: 426px) and (max-width: 540px) {
    .select-container {
      margin-right: 27.5rem;

      @media screen and (max-width: 500px) {
        margin-right: 25rem;
        @media screen and (max-width: 450px) {
          margin-right: 22.5rem;
        }
      }
    }
  }

  @media only screen and (max-width: 425px) {
    .select-container {
      margin-right: 20rem;
      width: 250px;

      @media screen and (max-width: 394px) {
        margin-left: 8rem;
      }

      @media screen and (max-width: 390px) {
        margin-left: 8rem;

        @media only screen and (max-width: 376px) {
          margin-left: 9.2rem;

          @media screen and (max-width: 361px) {
            margin-left: 10rem;

            @media screen and (max-width: 321px) {
              margin-left: 13.5rem;
            }

            @media screen and (max-width: 281px) {
              margin-left: 17rem;
            }
          }
        }
      }
    }
  }
}
